.navbar{
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.site-name{

    color:rgb(175, 175, 255) ;
}
.link a{
    text-decoration: none;
    /* margin-right: 30px;
    margin-left: 10px; */
    color: white;
    font-size: larger;
    font-weight: bolder;
    padding: 5px 10px;
    border: 1px solid rgba(128, 128, 128, 0);
    
}

.navbar a:hover{
    color: white;
    border: 1px solid rgba(107, 107, 255, 0.705);
    background-color: rgba(107, 107, 255, 0.705);

    border-radius: 8px;
    


}
.active{
    background-color: rgba(107, 107, 255, 0.705);
    border-radius: 8px;
    color: white;
}
.active a{
    
}